body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center; /* Center content horizontally */
	justify-content: flex-start; /* Align content to the top of the body */
}