body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center; /* Center content horizontally */
	justify-content: flex-start; /* Align content to the top of the body */
}

.photos p {
	display: flex; /* Use Flexbox to align the images */
	justify-content: center; /* Center images horizontally within each paragraph */
	position: relative;
	height: 300px; /* Adjust this height as needed */
	margin: 60px auto;
}

.photos img {
	height: 300px;
	width: 210px;
	margin: 0 60px; /* Add some margin between images */
	transition: transform .4s ease-out, box-shadow .3s, z-index .3s;
	z-index: 0;
}

.photos img:hover {
	transform: scale(2); /* Combine rotation and scale */
	box-shadow: 3px 4px 10px #0006;
	z-index: 999;
}